
  <% bodyHelper = (rec) -> %>

         <tr>
           <td>
             <span><%- rec[1] %></span>
           </td>
           <td >
             <span><%- rec[2] %></span>
           </td>
           <td>
             <span><%- rec[3] %></span>
           </td>
           <td>
             <span><%- rec[6] %></span>
           </td>
           <td>
             <span><%- rec[4] %></span>
           </td>
           <td>
             <span><%- rec[5] %></span>
           </td>
           <td>
             <span><%- rec[6] %></span>
           </td>
           <td>
             <span><%- rec[7] %></span>
           </td>
           <td>
             <span><%- rec[8] %></span>
           </td>

           <td>
            <div class="btn-group pull-right" role="group" aria-label="...">
             <a class="ui-button" title="Release" href="#" data-id="<%- rec.cnt %>" data-val="6" data-cmd="ENTER"><i class="ti-printer"></i></a>
             <a class="ui-button" title="Hold" href="#" data-id="<%- rec.cnt %>" data-val="3" data-cmd="ENTER"><i class="ti-control-pause"></i></a>
             <a class="ui-button" title="Delete" href="#" data-id="<%- rec.cnt %>" data-val="4" data-cmd="ENTER"><i class="ti-trash"></i></a>
             </div>
           </td>

         </tr>

  <% end %>

           <div class="container-fluid">

                <!-- TOOLBAR PART -->
                <div class="row card">
                   <div class="col-md-8"><h5 class="alert-danger"><%- @error %></h5></div>
                   <div class="col-md-4">
                    <div class="btn-group pull-right" role="group" aria-label="...">
                      <button type="button" class="btn btn-defaultui-button" data-type="action" data-cmd="PF3">Exit</button>
                      <button type="button" class="btn btn-defaultui-button" data-type="action" data-cmd="PF5">Refresh</button>
                    </div>
                   </div>
                </div>

                <!-- GRID PART -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title"><%- @title %></h4>
                                <p class="category">Here is a subtitle for this table</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-striped" >
                                    <thead>
                                      <tr>
                                        <th>File</th>
                                    	<th>User</th>
                                    	<th>User Data</th>
                                    	<th>Status</th>
                                    	<th>Pages</th>
                                    	<th>Copies</th>
                                    	<th>Form Type</th>
                                    	<th>Priority</th>
                                       </tr>
                                     </thead>

                                    <tbody>
                                      <% @cnt=1 %>
                                      <% for elm in @subfile : %>
                                          <% elm.cnt=@cnt %>
                                          <%- bodyHelper elm %>
                                          <% @cnt++ %>
                                      <% end %>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                </div>

              <!-- FOOTER PART -->
                <div class="row">
                  <nav aria-label="...">
                    <ul class="pager">
                      <li><a href="#" class="ui-button" data-cmd="PGUP">Previous</a></li>
                      <li><a href="#" class="ui-button" data-cmd="PGDOWN">Next</a></li>
                    </ul>
                  </nav>
                </div>

            </div>

	<script type="text/javascript">
	    $(document).ready(function(){
	        $('.ui-button:not([data-cmd=""])').click(Tn5250.onAction);
	    });
	</script>